*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.hidden_p{
    visibility: hidden;
}

.box{
    width: 100px;
    height: 100px;
    background-color: tomato;
    color: white;
    margin: 20px;
}